[build]
  command = "npm install"
  functions = "functions"
  publish = "public"  # แก้จาก . เป็น public

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200